@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@500&family=Poppins:wght@300;500;600&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
*/


body{
    margin: 0;
    padding: 0;
    
}
.color-orange {
    color: #E76F51;
}
.bg-orange {
    background-color: #E76F51;
}
.color-black {
    color: #252B42;
}
.color-green {
    background-color: #264653;
}
.color-happy {
    color: #0A0826;
}
.subtitle-para {
    font-size: .875rem;
    font-weight: 600;
}



.header {
    font-family: 'Poppins', sans-serif;
}

.header__img {
    max-width: 34.5rem;
    max-height: 28rem;
}
.header__para {
    max-width: 28.5rem;
}




.feature-bike,
.happy-client {
    font-family: 'Poppins', sans-serif;
}



.feature-bike__img {
    max-width: 18rem;
    max-height: 15.18rem;
}

.feature-bike__img__item {
    filter: grayscale(100%);
}





.happy-client__card {
    max-width: 20.18rem;
}

.happy-client__star {
    max-width: 1.3rem;
    max-height: 1.3rem;
}






.accordion-button:not(.collapsed) {
    color: #383838;
    background-color: white;
    box-shadow: none;
}
.frequently__img {
    max-width: 27rem;
    max-height: 26.5rem;
}
.frequently__font {
    font-family: 'Poppins', sans-serif;
}
.frequently__accordian {
    max-width: 34.5rem;
}
.frequently__accordian__font {
    font-family: 'Inter', sans-serif;
}




